body.abc{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 120%;
  
}
h1{
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
}
h2{
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
  font-weight: normal;
}
h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}
a{
  color: #11999E;
  font-family:'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}
.top-container{
  background-color: #E4F9F9;
  position: relative;
  padding-top: 100px

}
.middle-container {
  margin: 100px 0;
}
.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}
.bottom-cloud{
  position: absolute;
  right: 300px;
  top: 50px;
}
.top-cloud{
  position: absolute;
  left: 300px;
  bottom: 300px;

}
.myimg{
  height: 180px;
  margin-top: 10px;
}
.work{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.bbt{
  margin: 20px 0 50px 0;
}
.skill-row{
  margin: 100px auto;
  width: 50%;
  text-align: left;
  line-height: 1;

}
.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
body.hello{
  background-color: #E4F9F9;
  font-size: 1.625rem;
  text-align: center;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', 'cursive';
  color: #66BFBF;
}
input.button{
  background-color: white;
  border: none;
  color: #66BFBF;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}
input.button:hover{
  background-color: #66BFBF; /* Green */
  color: white;
}
h3.aaa{
  font-size: 25px;
  font-weight: normal;
  color: #66BFBF;
}
form{
  margin: 20px;
}
